body {
  font-family: Arial, sans-serif;
  background-color: #ffe6ee;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background: white;
  padding: 40px;
  max-width: 420px;
  margin: 150px auto;
  border-radius: 12px;
}

.button-row {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

/* NO button starts normal */
#noBtn {
  background-color: #ccc;
}
