body {
  font-family: Arial, sans-serif;
  background-color: #ffe6ee;
  text-align: center;
}

.container {
  background: white;
  padding: 40px;
  max-width: 420px;
  margin: 150px auto;
  border-radius: 12px;
}

.button-wrapper {
  position: relative;
  width: 320px;
  height: 140px;
  margin: 40px auto 0;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
  position: absolute;
  left: 0;
  top: 50px;
}

#noBtn {
  background-color: #ccc;
  position: absolute;
  left: 200px;
  top: 50px;
}
